*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.container{}

.container nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.container nav .title a{
    font-size: 35px;
    font-weight: 600;
    background-image: linear-gradient(45deg,#814096 25%,#F83292 75%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container nav ul{
    list-style: none;
}

.container nav ul li{
    display: inline-block;
}

.container nav ul li a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;
    transition: color 0.3s ease;
    position: relative;
}

.container nav ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    border-radius: 0.5rem;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.container nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container nav.sticky{
    background-color: #fff;
    padding: 15px 0;
}

.container nav.sticky .title a span{
    color: #fff;
}

/* home section styling */
.home{
    display: flex;
    background: url("images/home-bg-img-1.png") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content-max-width{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .home-content .text-1{
    margin-right: 75px;
    font-size: 27px;
    font-weight: 500;
    background-image: linear-gradient(45deg,#814096 25%,#F83292 75%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home .home-content a{
    display: inline-block;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 50px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    color: #fff;
    font-weight: 600;
    background-image: linear-gradient(135deg,#814096 25%,#F83292 75%);
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(135deg,#814096 25%,#F83292 75%) 1;
}
.home .home-content a:hover{
    background: none;
    background-image: linear-gradient(135deg,#814096 25%,#F83292 75%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home .image img{
    width: 30vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.home .newsletter{
    float: right;
}

.newsletter h3{
    color: #F83292;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.newsletter form{
    display: flex;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 3rem;
}

.newsletter form input[type="email"]{
    padding:0 1.5rem;
    font-size: 1.7rem;
    background: none;
    width: 25rem;
    color:#814096;
    text-transform: none;
    border-radius: 5rem;
    border: 2px solid #814096;
    position: relative;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.newsletter form input[type="email"]::placeholder{
    color:#814096;
    text-transform: capitalize;
}

.newsletter form input[type="email"]:focus{
    outline: #814096;
}

.newsletter form input[type="submit"]{
    position: absolute;
    margin: 0.2rem 21rem;
    color: #fff;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    width: 7rem;
    height: 2.6rem;
    font-size: 20px;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(135deg,#F83292 25%,#814096 75%);
}

.newsletter form input[type="submit"]:hover{
    color: #fff;
    background-image: linear-gradient(135deg, #814096 25%,#F83292 75%);
}

.squre div{
    position: absolute;
    width: 60px;
    height: 60px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(135deg,#814096 25%,#F83292 75%) 1;
}

.squre div:nth-child(1){
    top: 82%;
    left: 2%;
    animation: animate 11s linear infinite;
}

.squre div:nth-child(2){
    top: 90%;
    left: 5%;
    animation: animate 12s linear infinite;
}

.squre div:nth-child(3){
    top: 95%;
    left: 5%;
    animation: animate 5s linear infinite;
}

.squre div:nth-child(4){
    top: 75%;
    left: 10%;
    animation: animate 16s linear infinite;
}

.squre div:nth-child(5){
    top: 85%;
    left: 15%;
    animation: animate 7s linear infinite;
}

.squre div:nth-child(6){
    top: 65%;
    left: 5%;
    animation: animate 9s linear infinite;
}

.squre div:nth-child(7){
    top: 95%;
    left: 0;
    animation: animate 13s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
